.product-post{
    padding-top: 70px;
}

.button-product{
    margin-top:40px;
    margin-bottom: 70px;
}
.button-more{
    width: 181px;
    justify-content: center;
}
// .button-text{
//     background-color: #EFEFEF;
//     color: #000;
//     border: 2px solid #EFEFEF;
// }